@keyframes scale {
  0% {
    transform: scale(.8) rotateX(-40deg)
  }

  50% {
    opacity: 1
  }

  70% {
    transform: scale(1.05) rotateX(0)
  }

  100% {
    transform: scale(1) rotateX(0)
  }
}

.button {
  font-weight: 500;
  padding: .64rem .92rem;
  text-transform: uppercase;
  border: 2px solid #A8BBD4;
  border-radius: .21rem;
  background: white;
  transition: all 0.2s cubic-bezier(0, 0, .58, 1);
  outline: none;

  span {
    font-size: 1rem;
  }

  &:active {
    border: transparent;
    background:#E2E3EB;
    animation: scale 300ms cubic-bezier(.8, .02, .45, .91);
  }
}
