@keyframes scale {
  0% {
    transform: scale(0.8) rotateX(-40deg)
  }

  50% {
    opacity: 1
  }

  70% {
    transform: scale(1.05) rotateX(0)
  }

  100% {
    transform: scale(1) rotateX(0)
  }
}

.button {
  font-weight: 500;
  padding: 9px 13px;
  text-transform: uppercase;
  border: 2px solid #A8BBD4;
  border-radius: 2px;
  background: white;
  transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  outline: none;

  span {
    font-size: 16px;
  }

  &:active {
    border: transparent;
    background:#E2E3EB;
    animation: scale 300ms cubic-bezier(0.8, 0.02, 0.45, 0.91);
  }
}
